form {
    padding-top: 1rem;
  }
  
  label {
    display: block;
    margin: .5em 0;
    font-weight: bold;
  }

  input {
    width: 25%;
  }

  textarea {
    width: 25%;
  }
 .custom-select {
   width: 9.5%;
 }

 .submit-btn {
   margin-left: 5px;
   margin-bottom: 10px;
 }

 .form-group {
   margin: 15px 15px 15px 15px;
 }