<div class="form-group"> 
    <form [formGroup]="reviewForm" (ngSubmit)="onSubmit()">
        <p>Complete the review form to enable button.</p>
        <label for="fullName">Full Name: <span class="text-danger">*</span></label>
        <input id="fullName" type="text" formControlName="fullName" required>
    
        <label for="email">Email: <span class="text-danger">*</span></label>
        <input id="email" type="text" formControlName="email" required>

        <label for="rating">Rating: <span class="text-danger">*</span></label>
        <select class="custom-select" (change)="changeRating($event)" formControlName="rating">
            <option value="">Rating 1-5</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>

        <label for="review">Review: <span class="text-danger">*</span></label>
        <textarea id="review" type="text" formControlName="review" required></textarea>
        
        <button type="submit" [disabled]="!reviewForm.valid" class="btn btn-primary submit-btn">Submit</button>
    </form>
</div>
