<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
    <thead>
      <tr>
        <th>Full Name</th>
        <th>Email</th>
        <th>Rating</th>
        <th>Review</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of gameReviewData">
        <td>{{ data.fullName }}</td>
        <td>{{ data.email }}</td>
        <td>{{ data.rating }}</td>
        <td>{{ data.review }}</td>
      </tr>
    </tbody>
  </table>